<%= form_with(model: lessions_course) do |form| %>
  <% if lessions_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lessions_course.errors.count, "error") %> prohibited this lessions_course from being saved:</h2>

      <ul>
        <% lessions_course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
