<%= form_with(model: lession) do |form| %>
  <% if lession.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lession.errors.count, "error") %> prohibited this lession from being saved:</h2>

      <ul>
        <% lession.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
