<div class="container">

  <h1><%= t "lessions.lession" %></h1>

  <table style="width: 100%">
    <thead>
      <tr>
        <th></th>
        <th>Tên</th>
        <th>Mô tả</th>
        <th>Thời gian học</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @lessions.each do |lession| %>
        <tr>
          <td> <img style="width: 50px;" src=" <%= lession.image %>"></td>
          <td><%= lession.name %></td>
          <td><%= lession.description %></td>
          <td><%= lession.duration %> ngày</td>
          <td><%= link_to t("action.show"), lession %></td>
          <td><%= link_to t("action.edit"), edit_lession_path(lession) %></td>
          <td><%= link_to t("action.delete"), lession, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @lessions%>
  <br>
  <div style="display: flex; justify-content: flex-end; margin-top: 2rem">
    <%= link_to t("action.add"), new_lession_path %>
  </div>

</div>