<div class="card cardCustom">
    <%= image_tag(course.image ? course.image : "", class: "card-img-top imageHeight") %>
    <div class="card-body">
      <h5 class="card-title"><%= course.name %></h5>
      <p class="card-text"><%= course.description %></p>
    </div>
    <div class="d-flex justify-content-around">
      <%= link_to t("action.show"), course %>
      <%= link_to t("action.edit"), edit_course_path(course) %>
      <%= link_to t("action.delete"), course, method: :delete, data: { confirm: t("mess.sure") } %>
    </div>
</div>
