
<div class="container listCourses">
    <% @courses.each do |course| %>
      <div class="card" style="width: 18rem; margin: 2rem">
        <img class="card-img-top" src="<%= course.image %>" alt="Card image cap" style="height: 180px">
        <div class="card-body">
          <h5 class="card-title"><%= course.name %></h5>
          <p class="card-text"><%= course.description %></p>
        </div>
        <div style="display: flex; justify-content: space-around">
          <%= link_to t("action.show"), course %>
          <% if is_admin? %>
          <%= link_to t("action.edit"), edit_course_path(course) %>
          <%= link_to t("action.delete"), course, method: :delete, data: { confirm: "#{course.name} sẽ bị xóa" } %>
          <% end %>
        </div>
      </div>

    <% end %>
</div>
<div class="pagination">
  <%= will_paginate @courses, :container => false %>
</div>
<br>
<% if is_admin? %>
  <%= link_to t("courses.create"), new_course_path, class: "btn " %>
<% end %>