<% if@course.present? %>
  <div style="margin-top: 2rem; display: flex">
    <div>
      <div class="card" style="width: 18rem; margin: 2rem">
        <img class="card-img-top" src="<%= @course.image %>" alt="Card image cap" style="height: 180px">
        <div class="card-body">
          <h5 class="card-title"><%= @course.name %></h5>
          <p class="card-text"><%= @course.description %></p>
        </div>
        <div style="display: flex; justify-content: space-around">
          <%= form_for :users_course, url: {action: :create, controller: :users_courses} do |form|%>
            <%= form.hidden_field :course_id,  value: @course.id %>
            <%= form.submit t("users.learn_now"), class: "btn btn-outline-primary" %>
          <% end %>
          <% if is_admin? %>
            <%= link_to t('action.edit'), edit_course_path(@course) %>
            <%= link_to t("action.delete"), @course, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    </div>
    <div>
      <div class="d-flex justify-content-between" style="min-width: 500px">
        <h4>Các bài học trong khóa <%= @course.name %></h4>
        <%#= form_for :lessions_course, url: {action: :index, controller: :lessions_courses}, method: :get do |form| %>
        <%#= form.hidden_field  :course_id, value: @course.id %>
        <!--            <button type="submit" class="btn btn-primary"><%#= t "action.add" %> <%#= t "lessions.lession" %></button>-->
        <%# end %>
        <% if is_admin? %>
          <%= link_to t("action.add"), lessions_courses_path(course_id: @course.id) %>
        <% end %>
      </div>

      <% if @course&.lessions.size > 0 %>
        <div style="margin: 2rem; width: 100%">

          <table style="width: 500px">
            <thead>
            <th>Tên bài Học</th>
            <th>Thời gian học</th>
            </thead>
            <tbody>
            <% @course.lessions.each do |lession| %>
              <tr>
                <td><%= lession.name %></td>
                <td><%= lession.duration %> ngày</td>
                <td><%= link_to t("action.show"), lession %></td>
                <% if is_admin? %>
                  <td><%= link_to t("action.edit"), edit_lession_path(lession) %></td>
                  <td><%= link_to t("action.delete"), lession, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
<% end %>