<div class="container">
  <div style="margin-top: 2rem; display: flex">
    <div class="card" style="width: 18rem; margin: 2rem">
      <img class="card-img-top" src="<%= @course.image %>" alt="Card image cap" style="height: 180px">
      <div class="card-body">
        <h5 class="card-title"><%= @course.name %></h5>
        <p class="card-text"><%= @course.description %></p>
      </div>
      <div style="display: flex; justify-content: space-around">
        <%= link_to t("action.show"), @course %>
        <%= link_to t("action.edit"), edit_course_path(@course) %>
        <%= link_to t("action.delete"), @course, method: :delete, data: { confirm: t("mess.sure") } %>
      </div>
    </div>
    <% if @course&.lessions.size > 0 %>
      <div style="margin: 2rem">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"><%= t "lessions.name" %></th>
              <th scope="col"><%= t "lessions.time" %></th>
              <th scope="col"><%= t "lessions.action" %></th>
            </tr>
          </thead>
          <tbody>
          <% @course.lessions.each do |lession| %>
            <tr>
              <td><%= lession.name %></td>
              <td><%= lession.duration %> <%= t "day" %></td>
              <td><%= link_to t("action.show"), lession %></td>
              <td><%= link_to t("action.edit"), edit_lession_path(lession) %></td>
              <td><%= link_to t("action.delete"), lession, method: :delete, data: { confirm: t("mess.sure") } %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
