<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to t("home.e_learning") , root_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <%if logged_in? %>
      <li class="nav-item active">
        <%= link_to t("courses.courses"), courses_path, class: "nav-link"  %>
      </li>
      <% if is_admin? %>
        <li class="nav-item active">
          <%= link_to t("lessions.lession"), lessions_path, class: "nav-link"  %>
        </li>
       <% end %>
      <li class="nav-item active">
        <%= link_to t("users.courses"), users_courses_path, class: "nav-link"  %>
      </li>
      <% end %>
    </ul>

    <% unless logged_in? %>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> <%= link_to t("layouts.sign_in"), new_user_path %></button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><%= link_to t("layouts.login"), login_path %></button>
    <% else %>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> <%= link_to t("layouts.logout"), logout_path %></button>
    <%end %>
  </div>
</nav>